<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c4q.capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".utils.FirebasePersistence"
        android:allowBackup="true"
        android:icon="@drawable/ic_grupp_icon_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_grupp_icon_24"
        android:supportsRtl="true"
        android:theme="@style/GruppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userinterface.user.NotificationView"
            android:label="Details of notification"
            android:parentActivityName=".userinterface.user.UserProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userinterface.user.UserProfileActivity" />
        </activity>
        <activity android:name=".userinterface.user.UserProfileActivity" />
        <activity android:name=".userinterface.user.SettingsActivity" />
        <activity android:name=".userinterface.events.VenueVoteSwipeActivity" />
        <activity
            android:name=".userinterface.events.EventActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".userinterface.user.EditProfileActivity" />
        <activity android:name=".userinterface.user.onboarding.OnBoardActivity" />
        <activity android:name=".TempUserActivity" />
        <activity android:name=".userinterface.user.search.UserSearchActivity" />
        <activity android:name=".userinterface.user.AddPersonActivity" />
        <activity
            android:name=".userinterface.events.createevent.CreateEventActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".userinterface.events.EventInviteActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>